


body {
  font: large/1.556;
  word-spacing: 0.1em;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 2em;
}

p, ul, ol {
  font-size: large;
  margin: 1.5em 0;
}


/* basics */


.break {
  font-size: xx-large;
  line-height: .875;
  text-shadow: 0 0 2px #667;
  text-align: center;
}
.centered{
  text-align: center;
}

/* links */


a:link {
  color: FireBrick;
  border-bottom: 1px dotted;
}
a:visited {
  color: RosyBrown;
  border-bottom: 1px dotted;
}
a:link:hover, a:visited:hover {
  border-bottom: 2px solid;
}

/* headers */

h1, h2, h3, h4 {
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 0 0 1px #667;
}
h1 {
  font-size: 266.7%;
  line-height: 1.1;
  text-align: center;
  width: 100%;
  margin: 1.49em 0;
}
h2 {
  font-size: 210%;
  line-height: 1.3125;
  margin: 1.167em 0;
  text-align: center;
  clear: both;
}
h3 {
  font-size: x-large;
  line-height: 1.167;
  margin: 1.556em 0;
  text-align: center;
}
